# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
Frameworks/render02562/cmake-build-release/.ninja_log
*.json
Frameworks/render02562/cmake-build-release/.ninja_deps
Frameworks/render02562/cmake-build-release/.ninja_log
*.bin
*.bin
*.log
Frameworks/render02562/cmake-build-release/.ninja_deps
Frameworks/render02562/cmake-build-release/.ninja_log
*.log
.idea/misc.xml
*.xml
*.iml
Frameworks/render02562/cmake-build-release/.ninja_deps
Frameworks/render02562/cmake-build-release/.ninja_log
Frameworks/render02562/cmake-build-release/Testing/Temporary/LastTest.log
Frameworks/render02562/raytrace/PointLight.cpp
Frameworks/render02562/cmake-build-release/.ninja_deps
Frameworks/render02562/cmake-build-release/.ninja_log
Frameworks/render02562/cmake-build-release/Testing/Temporary/LastTest.log
*.log
